name: Profiler

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - name: Run profiler
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: bun run profile
