name: Profiler

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - name: Load files
        run: bun load-files
      - name: Build profiler
        run: zig build
      - name: Run profiler
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: ./zig-out/bin/profiler
